<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Virta</string>
	<key>CFBundleDisplayName</key>
	<string>Virta</string>
	<key>CFBundleIdentifier</key>
	<string>com.virta.Virta</string>
	<key>CFBundleExecutable</key>
	<string>virta</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>lol.virta.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>virta</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
